body{
    background-color: #44556f;
    margin: 0;
    color: #000016;
    margin: 5% 20%;
}
h1{
    text-align: center;
    border: 2px;
}
.destaque{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 10px;
}
header{
    margin: 0;
    background-color: azure;
}
main{
    margin: auto 20%;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    border:solid #000016 2px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
head{
    background-color: #ad1f1f;
}
.btt{
    background-color: #44556f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.btt:hover{
    background-color: #2f3d50;
    transform: scale(1.05)
}
.botao2{
    background-color: white;
    border: white;
    color: white;
}
.input{
    background-color: #f8fafc;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    width: 80px;
    height: 27px;
    margin: auto 15px;
    border: solid #b8c2d1 2px;
    padding: 3px;
    transition: 0.2s;
    
}
.input:focus{
    border-color: #44556f ;
    box-shadow: 0 0 0 3px rgb(68, 85, 111, 0.25);
}
.h1{
    text-align: center;
    border:solid #000016 2px;
    background-color: white;
    margin: 1% 20%;
    border-radius: 20px;
}
.fracao {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}
.span1{
    border-bottom: 1px solid black;
    padding: 2px 5px;
}

.ddd{
    text-align: left;
}
.receberValor{
    font-size: 22px;
}
